$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts" !default;
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/framework7/dist/css/framework7.ios";
@import "node_modules/framework7/dist/css/framework7.ios.colors";

.notifications {
  display: block;
}

.toolbar {
  position: fixed;
}

button.no-style {
  border: none;
  outline: none;
  background: none;
  color: #007aff;
  font-size: inherit;
  cursor: pointer;
}

.exercise {
  background: #91bfda;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  text-align: center;
}

.exercise__name {
  margin: 20vh 0 0;
  font-weight: lighter;
}

.exercise__time {
  margin: 0;
  color: #fff;
  font-weight: lighter;
}

.exercise__count {
  margin: 0;
  font-weight: lighter;
}

.exercise__responses {
  position: absolute;
  bottom: 20vh;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.exercise__response {
  font-weight: lighter;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;

  display: block;

  width: 20vh;
  height: 20vh;

  max-width: 100px;
  max-height: 100px;

  border-radius: 50%;
  border: 1px #979797 solid;

  cursor: pointer;
}

.exercise__response--fail {
  background: #ff9600;
}

.exercise__response--pass {
  background: #44db5e;
}

.result__icon {
  width: 29px;
  height: 29px;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  font-style: normal;
  position: relative;
  border-radius: 4px;
}

.result__icon--pass {
  background: #44db5e;
}

.result__icon--fail {
  background: #ff9600;
}
