$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts" !default;
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/framework7/dist/css/framework7.ios";
@import "node_modules/framework7/dist/css/framework7.ios.colors";

.notifications {
  display: block;
}

.toolbar {
  position: fixed;
}
